<div class="content full-height {{title}}">
	<a href="#/{{title}}/" class="block-centre-landing" id="{{title}}">
		<h1 class="landing-title">{{title}}</h1> 
		<p class="landing-description">{{description}}</p>
	</a>	
</div>