<div id="correct-image-one-large" class="modal">
  <header class="bar bar-nav">
    <a class="icon icon-close pull-right" href="#correct-image-one-large"></a>
    <h1 class="title">{{firstArtworkTitle}} by {{firstArtworkArtist}}</h1>
  </header>
  <div class="content">
    <img class="large-image" src="{{firstArtworkUrl}}">
  </div>
</div>

<div id="correct-image-two-large" class="modal">
  <header class="bar bar-nav">
    <a class="icon icon-close pull-right" href="#correct-image-two-large"></a>
    <h1 class="title">{{secondArtworkTitle}} by {{secondArtworkArtist}}</h1>
  </header>
  <div class="content">
    <img class="large-image" src="{{secondArtworkUrl}}">
  </div>
</div>